BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
COMMERCIAL ;

// Encoder Inputs
LOCATE COMP "ENC_A[1]" SITE "T4";
LOCATE COMP "ENC_B[1]" SITE "N5";
IOBUF PORT "ENC_A[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENC_B[1]" IO_TYPE=LVCMOS33;

// SPI
LOCATE COMP "SCK" SITE "A11";
LOCATE COMP "CS" SITE "B12";
LOCATE COMP "COPI" SITE "C13";
LOCATE COMP "CIPO" SITE "A14";
IOBUF PORT "SCK" IO_TYPE=LVCMOS33;
IOBUF PORT "CS" IO_TYPE=LVCMOS33;
IOBUF PORT "COPI" IO_TYPE=LVCMOS33;
IOBUF PORT "CIPO" IO_TYPE=LVCMOS33;

// Phase Outputs
LOCATE COMP "PHASE_A1[1]" SITE "A8";
LOCATE COMP "PHASE_A1_H[1]" SITE "A7";
LOCATE COMP "PHASE_A2[1]" SITE "C7";
LOCATE COMP "PHASE_A2_H[1]" SITE "B7";
LOCATE COMP "PHASE_B1[1]" SITE "E7";
LOCATE COMP "PHASE_B1_H[1]" SITE "D7";
LOCATE COMP "PHASE_B2[1]" SITE "B6";
LOCATE COMP "PHASE_B2_H[1]" SITE "C6";
IOBUF PORT "PHASE_A1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_A1_H[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_A2[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_A2_H[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_B1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_B1_H[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_B2[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_B2_H[1]" IO_TYPE=LVCMOS33;

// Charge Pump Output
LOCATE COMP "CHARGEPUMP" SITE "C11";
IOBUF PORT "CHARGEPUMP" IO_TYPE=LVCMOS33;

// LEDs
LOCATE COMP "LED" SITE "A4";
LOCATE COMP "LED1" SITE "B4";
LOCATE COMP "LED2" SITE "A3";
LOCATE COMP "LED3" SITE "B3";

# 27 MHz clock
LOCATE COMP "CLK" SITE "M16" ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS33 ;
