BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
COMMERCIAL ;

// Encoder Inputs
LOCATE COMP "ENC_A[1]" SITE "T4";
LOCATE COMP "ENC_B[1]" SITE "N5";
IOBUF PORT "ENC_A[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENC_B[1]" IO_TYPE=LVCMOS33;

// SPI
LOCATE COMP "SCK" SITE "A11";
LOCATE COMP "CS" SITE "B12";
LOCATE COMP "COPI" SITE "A12";
LOCATE COMP "CIPO" SITE "B13";
IOBUF PORT "SCK" IO_TYPE=LVCMOS33;
IOBUF PORT "CS" IO_TYPE=LVCMOS33;
IOBUF PORT "COPI" IO_TYPE=LVCMOS33;
IOBUF PORT "CIPO" IO_TYPE=LVCMOS33;

// Phase Outputs
LOCATE COMP "PHASE_A1[1]" SITE "A8";
LOCATE COMP "PHASE_A1_H[1]" SITE "A7";
LOCATE COMP "PHASE_A2[1]" SITE "C7";
LOCATE COMP "PHASE_A2_H[1]" SITE "B7";
LOCATE COMP "PHASE_B1[1]" SITE "E7";
LOCATE COMP "PHASE_B1_H[1]" SITE "D7";
LOCATE COMP "PHASE_B2[1]" SITE "B6";
LOCATE COMP "PHASE_B2_H[1]" SITE "C6";
IOBUF PORT "PHASE_A1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_A1_H[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_A2[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_A2_H[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_B1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_B1_H[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_B2[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PHASE_B2_H[1]" IO_TYPE=LVCMOS33;

// SPI
LOCATE COMP "STEPINPUT" SITE "C13";
LOCATE COMP "DIRINPUT" SITE "A14";
LOCATE COMP "STEPOUTPUT" SITE "B14";
LOCATE COMP "DIROUTPUT" SITE "A15";
IOBUF PORT "STEPINPUT" IO_TYPE=LVCMOS33;
IOBUF PORT "DIRINPUT" IO_TYPE=LVCMOS33;
IOBUF PORT "STEPOUTPUT" IO_TYPE=LVCMOS33;
IOBUF PORT "DIROUTPUT" IO_TYPE=LVCMOS33;


// Charge Pump Output
LOCATE COMP "CHARGEPUMP" SITE "C11";
IOBUF PORT "CHARGEPUMP" IO_TYPE=LVCMOS33;

// LEDs
LOCATE COMP "MOVE_DONE" SITE "A4"; //LED
LOCATE COMP "BUFFER_DTR" SITE "B4"; //LED
LOCATE COMP "LED[3]" SITE "A3";
LOCATE COMP "LED[4]" SITE "B3";

# 27 MHz clock
LOCATE COMP "CLK" SITE "M16" ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS33 ;


LOCATE COMP "analog_out1" SITE "K4" ; //ADC Feedback
LOCATE COMP "analog_cmp1" SITE "J3" ; //ADC input //J3 - SENSE_A
LOCATE COMP "analog_out2" SITE "K5" ; //ADC Feedback
LOCATE COMP "analog_cmp2" SITE "F2" ; //ADC input //F2 - SENSE_B

IOBUF PORT "analog_cmp1" IO_TYPE=LVDS ;
IOBUF PORT "analog_cmp2" IO_TYPE=LVDS ;
IOBUF PORT "analog_out1" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "analog_out2" IO_TYPE=LVCMOS33 DRIVE=8 ;


LOCATE COMP "DUMMY0" SITE "N6";
LOCATE COMP "DUMMY1" SITE "P6";
