*.bin
*.bit
*.blif
*.asc
*.rpt
*.glb
*.psb
*.sdf
*.vsb
*.log
*.tmp/
*.exp
*.vlog
*.bak
build/*.json
*.config
*.vcd
symbiyosys/symbiyosys_*
a.out

src/generated/*
build
logs
testbench/vcd
testbench/cxxrtl/*_tb.cpp
