LOCATE COMP "clk" SITE "M16";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "LED0" SITE "B4";
LOCATE COMP "LED1" SITE "A4";
LOCATE COMP "LED2" SITE "A3";
LOCATE COMP "LED3" SITE "B3";
LOCATE COMP "LED4" SITE "C5";
LOCATE COMP "LED5" SITE "E5";
LOCATE COMP "LED6" SITE "D5";
LOCATE COMP "LED7" SITE "E6";

IOBUF PORT "LED0" IO_TYPE=LVCMOS33;
IOBUF PORT "LED1" IO_TYPE=LVCMOS33;
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;
IOBUF PORT "LED4" IO_TYPE=LVCMOS33;
IOBUF PORT "LED5" IO_TYPE=LVCMOS33;
IOBUF PORT "LED6" IO_TYPE=LVCMOS33;
IOBUF PORT "LED7" IO_TYPE=LVCMOS33;

LOCATE COMP "enc1a" SITE "A15";
LOCATE COMP "enc1b" SITE "A14";
LOCATE COMP "enc2a" SITE "B14";
LOCATE COMP "enc2b" SITE "A13";

IOBUF PORT "enc1a" IO_TYPE=LVCMOS33;
IOBUF PORT "enc1b" IO_TYPE=LVCMOS33;
IOBUF PORT "enc2a" IO_TYPE=LVCMOS33;
IOBUF PORT "enc2b" IO_TYPE=LVCMOS33;

LOCATE COMP "faultn" SITE "J1";
LOCATE COMP "MISO" SITE "B11";
LOCATE COMP "MOSI" SITE "A10";
LOCATE COMP "SCK" SITE "B10";
LOCATE COMP "SSEL" SITE "A9";

IOBUF PORT "faultn" IO_TYPE=LVCMOS33;
IOBUF PORT "MISO" IO_TYPE=LVCMOS33;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33;
#IOBUF PORT "SCK" IO_TYPE=LVCMOS33;
IOBUF PORT "SSEL" IO_TYPE=LVCMOS33;
