LOCATE COMP "clk" SITE "M16";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "btn" SITE "P4";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;

LOCATE COMP "LED0" SITE "B4";
LOCATE COMP "LED1" SITE "A4";
LOCATE COMP "LED2" SITE "A3";
LOCATE COMP "LED3" SITE "B3";
LOCATE COMP "LED4" SITE "C5";
LOCATE COMP "LED5" SITE "E5";
LOCATE COMP "LED6" SITE "D5";
LOCATE COMP "LED7" SITE "E6";

IOBUF PORT "LED0" IO_TYPE=LVCMOS33;
IOBUF PORT "LED1" IO_TYPE=LVCMOS33;
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;
IOBUF PORT "LED4" IO_TYPE=LVCMOS33;
IOBUF PORT "LED5" IO_TYPE=LVCMOS33;
IOBUF PORT "LED6" IO_TYPE=LVCMOS33;
IOBUF PORT "LED7" IO_TYPE=LVCMOS33;

LOCATE COMP "enc1a" SITE "A15";
LOCATE COMP "enc1b" SITE "A14";
LOCATE COMP "enc2a" SITE "B14";
LOCATE COMP "enc2b" SITE "A13";

IOBUF PORT "enc1a" IO_TYPE=LVCMOS33;
IOBUF PORT "enc1b" IO_TYPE=LVCMOS33;
IOBUF PORT "enc2a" IO_TYPE=LVCMOS33;
IOBUF PORT "enc2b" IO_TYPE=LVCMOS33;

LOCATE COMP "faultn" SITE "J1";
LOCATE COMP "MISO" SITE "B11";
LOCATE COMP "MOSI" SITE "A10";
LOCATE COMP "SCK" SITE "B10";
LOCATE COMP "SSEL" SITE "A9";

IOBUF PORT "faultn" IO_TYPE=LVCMOS33;
IOBUF PORT "MISO" IO_TYPE=LVCMOS33;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33;
IOBUF PORT "SSEL" IO_TYPE=LVCMOS33;

LOCATE COMP "A0_N" SITE "M3";
LOCATE COMP "A0_P" SITE "L3";
LOCATE COMP "A0_PWM" SITE "P1";

IOBUF PORT "A0_N" IO_TYPE=LVDS33;
IOBUF PORT "A0_P" IO_TYPE=LVDS33;
IOBUF PORT "A0_PWM" IO_TYPE=LVCMOS33;

LOCATE COMP "step1" SITE "A8" ;
LOCATE COMP "step2" SITE "A7" ;
LOCATE COMP "step3" SITE "A6" ;
LOCATE COMP "step4" SITE "A5" ;
LOCATE COMP "step5" SITE "C6" ;
LOCATE COMP "step6" SITE "C7" ;
LOCATE COMP "step7" SITE "C8" ;
LOCATE COMP "step8" SITE "E9" ;
LOCATE COMP "dir1" SITE "B8" ;
LOCATE COMP "dir2" SITE "B7" ;
LOCATE COMP "dir3" SITE "B6" ;
LOCATE COMP "dir4" SITE "B5" ;
LOCATE COMP "dir5" SITE "D7" ;
LOCATE COMP "dir6" SITE "D8" ;
LOCATE COMP "dir7" SITE "E8" ;
LOCATE COMP "dir8" SITE "C9" ;
IOBUF PORT "step1" IO_TYPE=LVCMOS33;
IOBUF PORT "step2" IO_TYPE=LVCMOS33;
IOBUF PORT "step3" IO_TYPE=LVCMOS33;
IOBUF PORT "step4" IO_TYPE=LVCMOS33;
IOBUF PORT "step5" IO_TYPE=LVCMOS33;
IOBUF PORT "step6" IO_TYPE=LVCMOS33;
IOBUF PORT "step7" IO_TYPE=LVCMOS33;
IOBUF PORT "step8" IO_TYPE=LVCMOS33;
IOBUF PORT "dir1" IO_TYPE=LVCMOS33;
IOBUF PORT "dir2" IO_TYPE=LVCMOS33;
IOBUF PORT "dir3" IO_TYPE=LVCMOS33;
IOBUF PORT "dir4" IO_TYPE=LVCMOS33;
IOBUF PORT "dir5" IO_TYPE=LVCMOS33;
IOBUF PORT "dir6" IO_TYPE=LVCMOS33;
IOBUF PORT "dir7" IO_TYPE=LVCMOS33;
IOBUF PORT "dir8" IO_TYPE=LVCMOS33;
