BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "LED0" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "faultn" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "LED1" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "LED2" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "LED3" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "LED4" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "LED5" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "LED6" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "LED7" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "enc1a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc1b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc2a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc2b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc3a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc3b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc4a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc4b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc5a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc5b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc6a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc6b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc7a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc7b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc8a" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "enc8b" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
LOCATE COMP "enc1a" SITE "A15" ;
LOCATE COMP "enc1b" SITE "A14" ;
LOCATE COMP "enc2a" SITE "B14" ;
LOCATE COMP "enc3a" SITE "B13" ;
LOCATE COMP "enc3b" SITE "A12" ;
LOCATE COMP "enc4a" SITE "B12" ;
LOCATE COMP "enc4b" SITE "A11" ;
LOCATE COMP "enc5a" SITE "C10" ;
LOCATE COMP "enc5b" SITE "D10" ;
LOCATE COMP "enc6a" SITE "C11" ;
LOCATE COMP "enc6b" SITE "D11" ;
LOCATE COMP "enc7a" SITE "C12" ;
LOCATE COMP "enc7b" SITE "D12" ;
LOCATE COMP "enc8a" SITE "C13" ;
LOCATE COMP "enc8b" SITE "D13" ;
LOCATE COMP "enc2b" SITE "A13" ;
LOCATE COMP "LED0" SITE "A4" ;
LOCATE COMP "LED1" SITE "B4" ;
LOCATE COMP "LED2" SITE "A3" ;
LOCATE COMP "LED3" SITE "B3" ;
LOCATE COMP "LED4" SITE "C4" ;
LOCATE COMP "LED5" SITE "D4" ;
LOCATE COMP "LED6" SITE "E4" ;
LOCATE COMP "LED7" SITE "E5" ;
LOCATE COMP "faultn" SITE "B9" ;
LOCATE COMP "clk" SITE "M16" ;
LOCATE COMP "step1" SITE "A8" ;
LOCATE COMP "step2" SITE "A7" ;
LOCATE COMP "step3" SITE "A6" ;
LOCATE COMP "step4" SITE "A5" ;
LOCATE COMP "step5" SITE "C6" ;
LOCATE COMP "step6" SITE "C7" ;
LOCATE COMP "step7" SITE "C8" ;
LOCATE COMP "step8" SITE "E9" ;
LOCATE COMP "dir1" SITE "B8" ;
LOCATE COMP "dir2" SITE "B7" ;
LOCATE COMP "dir3" SITE "B6" ;
LOCATE COMP "dir4" SITE "B5" ;
LOCATE COMP "dir5" SITE "D7" ;
LOCATE COMP "dir6" SITE "D8" ;
LOCATE COMP "dir7" SITE "E8" ;
LOCATE COMP "dir8" SITE "C9" ;

