#FREQUENCY NET "clk_in_c" 27.000000 MHz ;
#LOCATE COMP "clk_in" SITE "M16" ;
LOCATE COMP "clk" SITE "M16";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;


LOCATE COMP "led[0]" SITE "B4";
LOCATE COMP "led[1]" SITE "A4";
LOCATE COMP "led[2]" SITE "A3";
LOCATE COMP "led[3]" SITE "B3";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

# SPI
# COPI (controller out / peripheral in) and CIPO (controller in / peripheral out)
LOCATE COMP "COPI" SITE "A10";
LOCATE COMP "CIPO" SITE "B11";
LOCATE COMP "SSEL" SITE "A9";
LOCATE COMP "SCK" SITE "B10";
IOBUF PORT "COPI" IO_TYPE=LVCMOS33;
IOBUF PORT "CIPO" IO_TYPE=LVCMOS33;
IOBUF PORT "SSEL" IO_TYPE=LVCMOS33;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33;

LOCATE COMP "CHARGEPUMP" SITE "C11";
LOCATE COMP "LS_DRIVE_AL" SITE "C7";
LOCATE COMP "HS_DRIVE_AL" SITE "B7";
LOCATE COMP "LS_DRIVE_AR" SITE "A8";
LOCATE COMP "HS_DRIVE_AR" SITE "A7";
LOCATE COMP "LS_DRIVE_BL" SITE "E7";
LOCATE COMP "HS_DRIVE_BL" SITE "D7";
LOCATE COMP "LS_DRIVE_BR" SITE "B6";
LOCATE COMP "HS_DRIVE_BR" SITE "C6";

LOCATE COMP "P1" SITE "P1";

IOBUF PORT "CHARGEPUMP" IO_TYPE=LVCMOS33;
IOBUF PORT "LS_DRIVE_AL" IO_TYPE=LVCMOS33;
IOBUF PORT "HS_DRIVE_AL" IO_TYPE=LVCMOS33;
IOBUF PORT "LS_DRIVE_AR" IO_TYPE=LVCMOS33;
IOBUF PORT "HS_DRIVE_AR" IO_TYPE=LVCMOS33;
IOBUF PORT "LS_DRIVE_BL" IO_TYPE=LVCMOS33;
IOBUF PORT "HS_DRIVE_BL" IO_TYPE=LVCMOS33;
IOBUF PORT "LS_DRIVE_BR" IO_TYPE=LVCMOS33;
IOBUF PORT "HS_DRIVE_BR" IO_TYPE=LVCMOS33;

IOBUF PORT "P1" IO_TYPE=LVCMOS33;

IOBUF PORT "analog_cmp" IO_TYPE=LVDS ;
IOBUF PORT "rstn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "analog_out" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "digital_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digital_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digital_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digital_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digital_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digital_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digital_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "digital_out[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sample_rdy" IO_TYPE=LVCMOS33 ;

LOCATE COMP "analog_cmp" SITE "J3" ;
LOCATE COMP "rstn" SITE "P1" ;
LOCATE COMP "analog_out" SITE "K4" ;
LOCATE COMP "digital_out[0]" SITE "A14" ;
LOCATE COMP "digital_out[1]" SITE "B14" ;
LOCATE COMP "digital_out[2]" SITE "A15" ;
LOCATE COMP "digital_out[3]" SITE "D13" ;
LOCATE COMP "digital_out[4]" SITE "B4" ;
LOCATE COMP "digital_out[5]" SITE "A4" ;
LOCATE COMP "digital_out[6]" SITE "A3" ;
LOCATE COMP "digital_out[7]" SITE "B3" ;
LOCATE COMP "sample_rdy" SITE "R1" ;

IOBUF PORT "clk_out" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk_out" SITE "P3" ;
