
LOCATE COMP "CLK" SITE "A10";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

// SPI
LOCATE COMP "SCK" SITE "B15";
LOCATE COMP "CS" SITE "B13";
LOCATE COMP "COPI" SITE "D11";
LOCATE COMP "CIPO" SITE "B12";
IOBUF PORT "SCK" IO_TYPE=LVCMOS33;
IOBUF PORT "CS" IO_TYPE=LVCMOS33;
IOBUF PORT "COPI" IO_TYPE=LVCMOS33;
IOBUF PORT "CIPO" IO_TYPE=LVCMOS33;


LOCATE COMP "MOVE_DONE" SITE "D12";
LOCATE COMP "BUFFER_DTR" SITE "C13";
IOBUF PORT "MOVE_DONE" IO_TYPE=LVCMOS33;
IOBUF PORT "BUFFER_DTR" IO_TYPE=LVCMOS33;

// Encoder Inputs
LOCATE COMP "ENC_A[0]" SITE "K5";
LOCATE COMP "ENC_B[0]" SITE "M5";
IOBUF PORT "ENC_A[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENC_B[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "ENC_A[1]" SITE "L3";
LOCATE COMP "ENC_B[1]" SITE "N2";
IOBUF PORT "ENC_A[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENC_B[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "ENC_A[2]" SITE "L2";
LOCATE COMP "ENC_B[2]" SITE "L1";
IOBUF PORT "ENC_A[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENC_B[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "ENC_A[3]" SITE "C14";
LOCATE COMP "ENC_B[3]" SITE "P1";
IOBUF PORT "ENC_A[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENC_B[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "STEPOUTPUT[0]" SITE "F1";
LOCATE COMP "DIROUTPUT[0]" SITE "G1";
LOCATE COMP "ENOUTPUT[0]" SITE "J5";
IOBUF PORT "STEPOUTPUT[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "DIROUTPUT[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENOUTPUT[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "STEPOUTPUT[1]" SITE "K3";
LOCATE COMP "DIROUTPUT[1]" SITE "L5";
LOCATE COMP "ENOUTPUT[1]" SITE "N5";
IOBUF PORT "STEPOUTPUT[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "DIROUTPUT[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENOUTPUT[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "STEPOUTPUT[2]" SITE "A15";
LOCATE COMP "DIROUTPUT[2]" SITE "H2";
LOCATE COMP "ENOUTPUT[2]" SITE "J4";
IOBUF PORT "STEPOUTPUT[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "DIROUTPUT[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENOUTPUT[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "STEPOUTPUT[3]" SITE "J3";
LOCATE COMP "DIROUTPUT[3]" SITE "L4";
LOCATE COMP "ENOUTPUT[3]" SITE "M4";
IOBUF PORT "STEPOUTPUT[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "DIROUTPUT[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "ENOUTPUT[3]" IO_TYPE=LVCMOS33;
